{% extends "shop/base.html" %}

{% load static %}

{% block title %}
	- Про нас
{% endblock title %}

{% block content %}
<div class="container">
	<div class="static_page">
		<h3>Про нас</h3>
		<p>Інтернет магазин	<a href="{% url "shop:main_page" %}"><strong>Меблі-Лем</strong></a>	почав свою роботу в січні 2017 р.</p>
		<p>Ми працюємо з кращими українськими виробниками меблів.<br>
		В нашому асортименті Ви знайдете меблі на будь-який гаманець, від бюджетних
		до більш дорогих.<br>
		Наш асортимент постійно поповнюється, з усіма доступними товарами Ви можете ознайомитись
			за посиланням <a href="{% url "shop:catalog_list" %}"><strong>"Завантажити"</strong></a>, де
		Ви зможете завантажити повні каталоги виробників, з якими ми співпрацюємо.</p>
		<p>Для постійних клієнтів діє гнучка система знижок!<br>
		Також надаємо суттєві знижки для учасників АТО та інших бойових дій!</p>
		<p>Наш девіз: <strong>Індивідуальний підхід до кожного клієнта!</strong></p>
	</div>
</div>
	
{% endblock content %}