{% extends "shop/base.html" %}

{% load static %}

{% block title %}
	- Доставка
{% endblock title %}

{% block content %}
<div class="container">
	<div class="static_page">
		<h3>Доставка</h3>
		<p>Меблі (за винятком м’яких) доставляються замовнику в розібраному вигляді, в плоских картонних упаковках. Збирання проводиться за домовленістю з продавцем.
		Доставка меблів здійснюється до під’їзду покупця. Доставка меблів в квартиру не здійснюється.
		Термін доставки товару, як правило, становить 1-3 робочі дні, у випадку відсутності обраного товару на складі з Вами зв'яжеться менеджер і уточнить термін доставки.</p>
		<p><strong>Доставка меблів по м. Івано-Франківськ  безкоштовна!</strong></p>
		<p><strong>Доставка меблів до м. Глиняни  с. Куровичі, с. Перегноїв, с. Розворяни, с. Вижняни, с. Якторів, с. Підгайчики, с. Словіта Львівської області також безкоштовна!</strong></p>
		<p>Доставка меблів до інших населених пунктів Львівської та Івано-Франківської областей нашим транспортом здійснюється за окремою домовленістю.<br>
		Доставка меблів в інші населені пункти України здійснюється кур'єрськими службами: Делівері, Інтайм та Нова Пошта та інші. Доставка оплачується Замовником окремо згідно тарифів обраного перевізника.</p>
	</div>
</div>
{% endblock content %}