{% extends "shop/base.html" %}
{% load static %}
{% load search_tags %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/carousel.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}">
{% endblock extra_css %}
{% block content %}
	<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% search_box request %}
            </div>
        </div>

		<div class="aside-toggle">
			<button type="button">Категорії</button>
		</div>

        <div class="row">
			<aside class="col-xs-12 col-sm-2 col-md-2 sidebar">
            <h4 id="category">Категорії</h4>
				<ul class="nav navbar nav-pills nav-stacked">
					{% for c in categories %}
		            <li role="presentation" {% if category.slug == c.slug %}class="brand-nav active"{% endif %}>
		            	<a href="{{ c.get_absolute_url }}" role="tab">{{ c.name }}</a>
		            </li>
		            {% endfor %}
				</ul>
			</aside>
			<div class="col-xs-12 col-sm-10 col-md-10">
                <h4 class="titles">Останні додані товари</h4>
                <div class="container-fluid">
                {% for product in last_products %}
                    <div class="col-xs-6 col-sm-3 col-md-3 product">
                        <div class="product_item">
                            <div class="product_thumb">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.images.first.image.url %}{{ product.images.first.image.url }}{% else %}
                                        {% static "img/no_image.png" %}{% endif %}">
                                </a>
                            </div>
                            <div class="product_title">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                <p>{{ product.price }} грн.</p>
                            </div>
                        </div>
                    </div>
				{% endfor %}
                </div>
                <h4 class="titles">Останні публікації</h4>
                <div class="container-fluid">
                {% for post in posts %}
                    <div class="blog_post">
                        <h4>{{ post.title }}</h4>
                        <p>Опубліковано {{ post.date_published }}</p>
                        <img src="{{ post.image_thumb.url }}">
                        <p>{{ post.short_content }}</p>
                    </div>
                {% endfor %}
                </div>
			</div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h4>Наші виробники:</h4>
                <!----Carousel------------------------------------------------------------->
                <div class="carousel shadow">
                    <div class="carousel-button-left">
                        <img src="{% static "img/carousel-left.png" %}"/>
                    </div>
                    <div class="carousel-button-right">
                        <img src="{% static "img/carousel-right.png" %}"/>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="carousel-items">
                            {% for manufacturer in manufacturers %}
                               {% if manufacturer.image %}
                                   <div class="carousel-block">
                                    <img src="{{ manufacturer.image.url }}">
                                   </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End of Carousel-->
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p></p>
                <h4>Наші партнери:</h4>
                    <a href="http://mozaika.net.ua" target="_blank">
                        <img id="banner" src="{% static "img/mozaika-banner.gif" %}" height="120px" width="auto">
                    </a>
                    <a href="http://fc-sokil-glynia.at.ua" target="_blank">
                        <img id="banner" src="{% static "img/FC_Sokil_Glyniany.jpg" %}" height="120px" width="auto">
                    </a>
            </div>
        </div>
	</div>
{% endblock content %}