{% extends "shop/base.html" %}

{% load static %}

{% block title %}
	- Оплата
{% endblock title %}

{% block content %}
<div class="container">
	<div class="static_page">
		<h3>Оплата</h3>
		<p>Оплата проводиться готівкою або за безготівковим рахунком.</p>
		<p><strong>При замовленні товару,</strong> як підтвердження замовлення, замовник
		сплачує авансовий платіж в розмірі визначеному за домовленістю з продавцем.
		А в подальшому при отриманні товару замовник доплачує остаточну вартість товару. </p>
		<p>Вартість товару може відрізнятись від вказаної на сайті! Діє гнучка система знижок!</p>
		<p>Просимо звернути увагу, що не увесь наявний асортимент продукції відображений на сайті.
			З усіма доступними товарами Ви можете ознайомитись за посиланням <a href="{% url "shop:catalog_list" %}"><strong>"Завантажити"</strong></a>,
			де Ви зможете завантажити повні каталоги виробників, з якими ми співпрацюємо.</p>
		<h4>Для замовлення товару необхідно:</h4>
	    <ul>
	        <li>оформити замовлення через наш сайт, або за <a href="{% url "shop:contacts" %}">телефонами</a> </li>
			<li>після цього з Вами зв'яжеться наш менеджер і уточнить деталі замовлення</li>
	        <li>далі Ви отримуєте від нас рахунок на оплату 10% завдатку від вартості обраного вами товару (без врахування вартості доставки)</li>
	        <li>оплатити замовлення по висланому рахунку</li>
	        <li>після надходження грошей на наш рахунок, з Вами зв'язується наш менеджер і погоджує доставку товару.</li>
	     </ul>
		<p><strong>Індивідуальний підхід до кожного клієнта!</strong></p>
	</div>
</div>

{% endblock content %}